.vscode/**
.vscode-test/**
out/
out/test/**
out/**/*.map
src/
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
**/*.ts
**/tsconfig.json
!file.ts
.prettierignore
node_modules
webpack.config.js